<div class="row">
    <div class="col-xs-12">
        <img src="" alt=""class="img-responsive">
    </div>
    <div class="row">
        <div class="col-xs-12" >
        <!-- *ngFor="" -->
            <!-- <h1> {{ contact.name }}</h1> -->
            <h4>Contact name</h4>
            <img src="" alt="image-contact"> 
            <button type="button" class="btn pull-right" id="delete-btn">Delete</button>
            <button type="button" class="btn btn-primary pull-right">Edit</button>
        </div>
        <div class="col-xs-12">
            <hr>
            <p>Email: </p>
            <p>Phone: </p>
        </div>
    </div>
</div>



