<div class="row">
    <div class="col-xs-12">
        <h4 class="pull-left">Contact</h4>
        <button class="btn pull-right" id="sucess-btn">New Contact</button>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <a href="#" 
        class="list-group-item clearfix" 
        *ngFor="let contact of contacts">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{ contact.name }}</h4>
            </div>
            <spam class="pull-right">
                <img src=" {{ contact.imageUrl }}" alt=" {{ contact.name }}" class="img-responsive" style="max-height: 50px">
            </spam>
        </a>
    </div>
</div>